/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body
{
    background-color: #2aabd2;
}

#success_message
{
    display: none;
    /*opacity: 1;*/
}

/***************** IMAGE UPLOAD *********************/

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/********************** CONTACT FORM CONTAINER ***************/

#contact-form-container
{
    /*background-color: #2aabd2;*/
    height: 100vh;
    width: 100vw;
}

#contact-form-container h1
{
    text-align: center;
    color: white;
    font-family: "Besom";
    font-size:100px;
    padding-top:5%;
    padding-bottom: 5%;
    background-image: url("/img/brushes+1.png")!important;
}

/*********************** CONTACT FORM ************************/

#contact_form
{
    padding-top: 50%;
    width: 100%;
}

.well
{
    background-color: rgba(0,0,0,.3)!important;
    border-radius: 0!important;
    /*background-color: transparent!important;*/
    /*border: none!important;*/
    border: rgba(0,0,0,.1) 1px solid!important;
}

.control-label
{
    color: white;
    font-family: "Existence-Light","Open Sans";
    text-transform: uppercase;
    font-size:15px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.form-control
{
    /*background-color: rgba(0,0,0,.6)!important;*/
    border-bottom:1px solid #fff!important;
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    background-color: transparent!important;
    border-radius: 0;
    box-shadow: none;
    color: white!important;
}

.checkbox label, .radio label
{
    color: white;
    font-family: "Existence-Light","Open Sans";
}

label
{
    color: white;
    font-family: "Existence-Light","Open Sans";
}

.input-group-addon:first-child
{
    background-color: white!important;
    color: #000;
    border:1px solid #333333!important;
    border-radius: 0!important;
}

.input-group-btn:last-child>.btn
{
    border-radius: 0;
}

.input-group .form-control:first-child
{
    border-radius: 0;
}

.input-group .form-control:last-child
{
    border-radius:0;
}

.btn
{
    background-color: white!important;
    border-radius: 0!important;
    border: 2px solid white!important;
    width: 100%;
    padding: 10px!important;
    transition: 1s ease;
    color: black!important;
}

.btn:hover
{
    background-color: #4cae4c!important;
    border:2px solid #4cae4c!important;
}

/************************* VIDEO *****************************/

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
    opacity: .9;
}

@media screen and (max-width: 500px) {
    div{width:70%;}
}
@media screen and (max-device-width: 800px) {
    html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}

/*********************** FOOTER *****************************/

footer
{
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
}

/********************** FONTS ******************************/

@font-face {
    font-family: "Besom";
    src: url('/fonts/Besom.ttf') format('ttf');
}

@font-face {
    font-family: "Existence-Light";
    src: url('/fonts/Existence-Light.ttf') format('ttf');
}